﻿
<form name="CreateUserForm">
    <fieldset>
        <div>
            <label>First Name</label>
            <div>
                <input type="text" maxlength="20" ng-model="user.FirstName" autocomplete="off"
                       name="firstName" tabindex="0" />
            </div>
        </div>
        <div>
            <label>Middle Name</label>
            <div>
                <input type="text" maxlength="20" ng-model="user.MiddleName" autocomplete="off"
                       name="middleName" tabindex="1" />
            </div>
        </div>
        <div>
            <label>Last Name</label>
            <div>
                <input type="text" maxlength="20" ng-model="user.LastName" autocomplete="off"
                       name="lastName" tabindex="2" />
            </div>
        </div>
        <div>
            <label>User Name</label>
            <div>
                <input type="text" maxlength="20" ng-model="user.UserName" autocomplete="off"
                       name="userName" tabindex="3" />
            </div>
        </div>
        <div>
            <label>Password</label>
            <div>
                <input type="password" maxlength="20" ng-model="user.Password" autocomplete="off"
                       name="password" tabindex="3" />
            </div>
        </div>
        <div>
            <br/>
            <div>
                <input type="submit" value="Save" ng-click="userForm.submit(UserForm, true)" tabindex="25">
                <input type="submit" value="Cancel" ng-click="cancel()" tabindex="26">
            </div>
        </div>
    </fieldset>
</form>