﻿<div ng-controller="userIndexCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr ng-repeat="u in users" ng-cloak>
            <td>{{u.UserId}}</td>
            <td>{{u.FirstName}}</td>
            <td>{{u.LastName}}</td>
        </tr>
    </table>
</div>