﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User";
}
<script src="/Scripts/app/user/userApp.js"></script>
<script src="/Scripts/app/user/userSrvc.js"></script>
<script src="/Scripts/app/user/controller/userCreateCtrl.js"></script>
<script src="/Scripts/app/user/controller/userIndexCtrl.js"></script>
<div ng-app="app.User">
    <div class="row spacer"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" id="UserList">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseUserList" aria-expanded="true" aria-controls="collapseUserList">
                        Users
                    </a>
                </h4>
            </div>
            <div id="collapseUserList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="UserList">
                <div class="panel-body">
                    @Html.Partial("_List")
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="CreateUser">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateUser" aria-expanded="false" aria-controls="collapseCreateUser">
                        New User
                    </a>
                </h4>
            </div>
            <div id="collapseCreateUser" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CreateUser">
                <div class="panel-body">
                    @Html.Partial("_Create")
                </div>
            </div>
        </div>
        <div class="panel panel-default  hide" id="EditUser">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEditUser" aria-expanded="false" aria-controls="collapseEditUser">
                        Edit User
                    </a>
                </h4>
            </div>
            <div id="collapseEditUser" class="panel-collapse collapse" role="tabpanel" aria-labelledby="EditUser">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
