﻿<div ng-controller="customerIndexCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr ng-repeat="u in customers" ng-cloak>
            <td>{{u.CustomerId}}</td>
            <td>{{u.FirstName}}</td>
            <td>{{u.LastName}}</td>
            <td>{{u.CompanyName}}</td>
        </tr>
    </table>
</div>
