﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer";
}
<script src="/Scripts/app/customer/customerApp.js"></script>
<script src="/Scripts/app/customer/customerSrvc.js"></script>
<script src="/Scripts/app/customer/controller/customerCreateCtrl.js"></script>
<script src="/Scripts/app/customer/controller/customerIndexCtrl.js"></script>
<div ng-app="app.Customer">
    <div class="row spacer"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" id="CustomerList">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCustomerList" aria-expanded="true" aria-controls="collapseCustomerList">
                        Customers
                    </a>
                </h4>
            </div>
            <div id="collapseCustomerList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CustomerList">
                <div class="panel-body">
                    @Html.Partial("_List")
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="CreateCustomer">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateCustomer" aria-expanded="false" aria-controls="collapseCreateCustomer">
                        New Customer
                    </a>
                </h4>
            </div>
            <div id="collapseCreateCustomer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CreateCustomer">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel panel-default  hide" id="EditCustomer">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEditCustomer" aria-expanded="false" aria-controls="collapseEditCustomer">
                        Edit Customer
                    </a>
                </h4>
            </div>
            <div id="collapseEditCustomer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="EditCustomer">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
