﻿<div ng-controller="groupIndexCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tr ng-repeat="u in groups" ng-cloak>
            <td>{{u.GroupId}}</td>
            <td>{{u.Name}}</td>
            <td>{{u.Description}}</td>
            <td>{{u.CreatedBy}}</td>
            <td>{{u.CreatedDate}}</td>
        </tr>
    </table>
</div>
