﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Group";
}
<script src="/Scripts/app/group/groupApp.js"></script>
<script src="/Scripts/app/group/groupSrvc.js"></script>
<script src="/Scripts/app/group/controller/groupCreateCtrl.js"></script>
<script src="/Scripts/app/group/controller/groupIndexCtrl.js"></script>
<div ng-app="app.Group">
    <div class="row spacer"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" id="UserList">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroupList" aria-expanded="true" aria-controls="collapseGroupList">
                        Groups
                    </a>
                </h4>
            </div>
            <div id="collapseGroupList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="GroupList">
                <div class="panel-body">
                    @Html.Partial("_List")
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="CreateGroup">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateGroup" aria-expanded="false" aria-controls="collapseCreateGroup">
                        New Group
                    </a>
                </h4>
            </div>
            <div id="collapseCreateGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CreateGroup">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel panel-default  hide" id="EditGroup">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEditGroup" aria-expanded="false" aria-controls="collapseEditGroup">
                        Edit Group
                    </a>
                </h4>
            </div>
            <div id="collapseEditGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="EditGroup">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
