﻿@using Base.Web.Controllers.Base
@*<ul class="nav navbar-nav" ng-app="app.Menu" ng-controller="menuDisplayCtrl" ng-bind-html="htmlString | sanitize"></ul>*@
<ul class="nav navbar-nav">
    @Html.Raw(MenuHelper.GenerateMenuItems())
</ul>

