﻿@using Base.Web.ViewModels
@{
    ViewBag.ReturnUrl = "";
}
@if (Session["UserSession"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + ((User)Session["UserSession"]).FirstName + "!", "Index", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>        
        <li>@Html.ActionLink("Log off", "Logoff", "Account", routeValues: null, htmlAttributes: new { id = "logoutForm", @class = "navbar-right" })</li>
    </ul>
}
